@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/7a16a7/000000000000000077359568/30/l?subset_id=2&fvd=n1&v=3) format("woff2"),
         url(https://use.typekit.net/af/7a16a7/000000000000000077359568/30/d?subset_id=2&fvd=n1&v=3) format("woff"),
         url(https://use.typekit.net/af/7a16a7/000000000000000077359568/30/a?subset_id=2&fvd=n1&v=3) format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/l?subset_id=2&fvd=n2&v=2) format("woff2"),
         url(https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/d?subset_id=2&fvd=n2&v=2) format("woff"),
         url(https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/a?subset_id=2&fvd=n2&v=2) format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/l?subset_id=2&fvd=n3&v=3) format("woff2"),
         url(https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/d?subset_id=2&fvd=n3&v=3) format("woff"),
         url(https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/a?subset_id=2&fvd=n3&v=3) format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/d45b9a/000000000000000077359577/30/l?subset_id=2&fvd=n4&v=3) format("woff2"),
         url(https://use.typekit.net/af/d45b9a/000000000000000077359577/30/d?subset_id=2&fvd=n4&v=3) format("woff"),
         url(https://use.typekit.net/af/d45b9a/000000000000000077359577/30/a?subset_id=2&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/0758f3/000000000000000077359583/30/l?subset_id=2&fvd=n5&v=3) format("woff2"),
         url(https://use.typekit.net/af/0758f3/000000000000000077359583/30/d?subset_id=2&fvd=n5&v=3) format("woff"),
         url(https://use.typekit.net/af/0758f3/000000000000000077359583/30/a?subset_id=2&fvd=n5&v=3) format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/e4b1a9/000000000000000077359571/30/l?subset_id=2&fvd=n6&v=3) format("woff2"),
         url(https://use.typekit.net/af/e4b1a9/000000000000000077359571/30/d?subset_id=2&fvd=n6&v=3) format("woff"),
         url(https://use.typekit.net/af/e4b1a9/000000000000000077359571/30/a?subset_id=2&fvd=n6&v=3) format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/98e3f6/000000000000000077359562/30/l?subset_id=2&fvd=n7&v=3) format("woff2"),
         url(https://use.typekit.net/af/98e3f6/000000000000000077359562/30/d?subset_id=2&fvd=n7&v=3) format("woff"),
         url(https://use.typekit.net/af/98e3f6/000000000000000077359562/30/a?subset_id=2&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}